.readmore-btn
{
	padding: 5px 16px;
	border-radius: 4px;

	border-color: #ffe033;

	border-style: solid;

	background-color: #ffe033;
	color: white;

}

.readmore-btn:hover
{
	text-decoration: none;
	color: white;
	background-color: gold;
}