.cart
{
	padding: 10px;
	margin: 10px;
}

.cart-item
{
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-align: start;
    align-items: flex-start;
}
.cart-item img 
{
	margin-right: 25px;
}
.cart-body
{
	-ms-flex: 1;
      flex: 1;
}
.cart-body div
{
	margin-left: 25px;
	margin-right: 25px;
}

.cart-body a
{
	text-decoration: none;
}

/* design for extract fee*/
.cart-sub td
{
	background-color: #fff176;
}

/* design for total row*/
.cart-total td
{
	background-color: #ffeb3b;
}